@font-face {
  font-family: "iconfont"; /* Project id 2434977 */
  src: url('iconfont.woff2?t=1623211973161') format('woff2'),
       url('iconfont.woff?t=1623211973161') format('woff'),
       url('iconfont.ttf?t=1623211973161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfanhui:before {
  content: "\e60d";
}

.iconhtmal5icon31:before {
  content: "\e643";
}

.iconwode:before {
  content: "\e62d";
}

.iconshouji:before {
  content: "\e623";
}

.icongongju:before {
  content: "\e81d";
}

.icongouwuche:before {
  content: "\e628";
}

